
/*////////////// REST THE DEFAULT VALUES OF THE NAVEGATOR /////////////////*/
* {
 margin: 0px;
 padding: 0px;
}

body {
   background: black;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   color: #333;
}


/*/////////////////// HOME PAGE /////////////////////*/
body #intro {
   background: rgba(0,0,0,.5);
   width: 100%;
   height: 100%;
   position:fixed;
   text-align:center;
   z-index: 5;
   display:none;
}

body #intro.active {
   display: block;
}

#intro ul {
    position:relative;
    margin-top: 40px;
}

/* TITLE: SIMON SAYS */
#intro  h1 {
   position: relative;
   width: 70%;
   top: 0%;
   margin-top: 0%;
   margin-bottom:10px;
   left: 50%;
   margin-left: -35%;
   color: white;
   font-size: 80px;
}

#start-button {
   position: relative;
   display:inline-block;
   width: auto;
   margin-top: 20px;
   text-align: center;
   cursor: pointer; cursor: hand;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
   color: #ffffff;
   padding: 10px 50px;
   /* MADE WITH A CSS BUTTON GENERATOR */
   background: -moz-linear-gradient(
      top,
      #1fcbff 0%,
      #1865b8);
   background: -webkit-gradient(linear, left top, left bottom,
      from(#1fcbff),
      to(#1865b8));
   border-radius: 0px;
   border: 3px solid #1fcbff;
   -moz-box-shadow:0px 0px 3px rgba(255,255,255,0);
   -webkit-box-shadow: 0px 0px 3px rgba(255,255,255,0);
   box-shadow: 0px 0px 3px rgba(255,255,255,0);
   text-shadow:
      0px 1px 0px rgba(0,0,0,1);
}

#start-button:hover {
   background: -moz-linear-gradient(
      top,
      #FFA718 0%,
      #FF600D);
   background: -webkit-gradient(linear, left top, left bottom,
      from(#FFA718),
      to(#FF600D));
   border: 3px solid #FFA718;
}

/*/////////////////////// GAME SCREEN //////////////////////////*/
.panel{
   position:absolute;
   height:100%;
   width:100%;
}
/* COLOR BUTTONS, COLUMNS */
.button {
   position:relative;
   margin:0px;
   float:left;
   height:100%;
   width:20%;
   -ms-transition: .2s;
   -webkit-transition: .2s;
   transition: .2s;
}
#blue {
   background-color:#384765;
   box-shadow: 0 0 0px #384765;
   z-index:0;
}
#green{
   background-color:#37623C;
   box-shadow: 0 0 0px #37623C;
   z-index:0;

}
#yellow{
   background-color:#616236;
   box-shadow: 0 0 0px #616236;
   z-index:0;
}
#orange{
   background-color:#625338;
   box-shadow: 0 0 0px #625338;
   z-index:0;
}

#red{
   background-color:#613D42;
   box-shadow: 0 0 0px #613D42;
   z-index:0;
}

/*//////////////// ANIMATED SCORE PANEL /////////////////////*/
#scorePanel {
   color:white;
   background-color: black;
   width: 100%;
   height: 0px;
   bottom: 0px;
   position:absolute;
   overflow:hidden;
   text-align: center;
   z-index:3;
}

#scorePanel span {
   font-size: 60px;
   top: 20%;
   position: relative;
   display:inline-block;
   color: white;
}
/*///////////////////// END GAME SCREEN //////////////////////*/
body #endScreen {
   display: none;
   background: rgba(0,0,0,.5);
   position:fixed;
   width: 100%;
   height: 100%;
   top:0;
   left:0;
   z-index: 10;
   color: #fff;
   font-size:1.3em;
   text-align:center;
}
body #endScreen.active {
   display:block;
}
body #endScreen h2 {
   font-weight: bold;
   margin-top: 1em;
   margin-bottom: .25em;
   font-size: 3em;
   line-height: 1em;
}

#end-button {
   position: relative;
   display:inline-block;
   width: auto;
   top: 50%;
   margin-top: 10px;
   text-align: center;
   cursor: pointer; cursor: hand;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
   color: #ffffff;
   padding: 10px 50px;
   /* MADE WITH A CSS BUTTON GENERATOR */
   background: -moz-linear-gradient(
      top,
      #1fcbff 0%,
      #1865b8);
   background: -webkit-gradient(linear, left top, left bottom,
      from(#1fcbff),
      to(#1865b8));
   border-radius: 0px;
   border: 3px solid #1fcbff;
   -moz-box-shadow:0px 0px 3px rgba(255,255,255,0);
   -webkit-box-shadow: 0px 0px 3px rgba(255,255,255,0);
   box-shadow: 0px 0px 3px rgba(255,255,255,0);
   text-shadow:
      0px 1px 0px rgba(0,0,0,1);
   
}

#end-button:hover {
   background: -moz-linear-gradient(
      top,
      #FFA718 0%,
      #FF600D);
   background: -webkit-gradient(linear, left top, left bottom,
      from(#FFA718),
      to(#FF600D));
   border: 3px solid #FFA718;
}